.block-hero-2 {
    background-color: #3C79F5 !important;
}
.button-primary {
    background-color: #3C79F5 !important;;
}
.block-header-2--cta {
    background-color: #3C79F5 !important;
}

.button.primary.inverted {
    background-color: #F53C79;
    color: #fff;
}
.block-header-2--logo {
    align-self: center !important;
}

.dataframe {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.dataframe td, .dataframe th {
  border: 1px solid #ddd;
  padding: 8px;
}

.dataframe tr:nth-child(even){background-color: #f2f2f2;}

.dataframe tr:hover {background-color: #ddd;}

.dataframe th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #3C79F5;
  color: white;
}
